
ArrayList/.vs/ArrayList/DesignTimeBuild/.dtbcache

ArrayList/.vs/ArrayList/v16/.suo

ArrayList/.vs/ArrayList/v16/Server/sqlite3/db.lock

ArrayList/.vs/ArrayList/v16/Server/sqlite3/storage.ide

ArrayList/obj/ArrayList.csproj.nuget.cache

ArrayList/obj/ArrayList.csproj.nuget.dgspec.json

ArrayList/obj/ArrayList.csproj.nuget.g.props

ArrayList/obj/ArrayList.csproj.nuget.g.targets

ArrayList/obj/Debug/netcoreapp3.1/ArrayList.AssemblyInfo.cs

ArrayList/obj/Debug/netcoreapp3.1/ArrayList.AssemblyInfoInputs.cache

ArrayList/obj/Debug/netcoreapp3.1/ArrayList.assets.cache

ArrayList/obj/Debug/netcoreapp3.1/ArrayList.csprojAssemblyReference.cache

ArrayList/obj/project.assets.json